{% extends "index.html" %}

{% block content %}

{{ macros::paginator() }}

{% for page in paginator.pages %}   
  <article class="card blog-card">
    {% if page.extra.ogimage %}
      {% set image = "/thumbs/" ~ page.extra.ogimage %}
    {% else %}
      {% set image = "/img/slogo.png" %}
    {% endif %}
    <div class="blog-card__media">
      <a href="{{ page.permalink | safe }}">
        <img src="{{ image | safe }}" alt="{{ page.title }}" loading="lazy">
      </a>
    </div>
    <div class="blog-card__body">
      <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
      {% if page.description %}
        <p class="description">{{ page.description }}</p>
      {% endif %}
      <p class="blog-card__meta">Published {{ page.date | date(format="%B %e, %Y") }}</p>
    </div>
  </article>
{% endfor %}

{{ macros::paginator() }}

{% endblock content %}
