{% extends "index.html" %}

{% block pagehead %}
{% if page.description %}
<meta name="og:description" value="{{ page.description }}">
{% endif %}

{% if page.extra.ogimage %}
<meta property="og:image" content="{{ config.base_url }}/thumbs/{{ page.extra.ogimage }}">
{% else %}
<meta property="og:image" content="{{ config.base_url }}/thumbs/default.png">
{% endif %}
<meta name="twitter:card" content="summary_large_image">

{% endblock pagehead %}

{% block subtitle %}
<p class="h6 text-uppercase wt-letter-spacing-sm mb-0">Published {{ page.date | date(format="%B %e, %Y") }}</p>
{% endblock subtitle %}

{% block content %}

{{ macros::share() }}

      <p>
        <i>
          See a typo? Have a suggestion?
          <a target="_blank" rel="nofollow" href="https://github.com/snoyberg/snoyman.com/edit/master/content/{{ page.relative_path }}">Edit this page on Github</a>
        </i>
      </p>

      {{ macros::blog_email() }}

      {{ page.content | safe }}

<div class="text-center"><a href="/blog/" class="btn btn-primary">Read more blog posts</a></div>

      {{ macros::blog_email() }}

      <div id="disqus_thread"></div>
      <script>
        (function() {var d = document, s = d.createElement('script'); s.src = '//snoyberg.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s);})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<div class="text-center"><a href="/blog/" class="btn btn-primary">Read more blog posts</a></div>

{% endblock content %}
