{% import "macros.html" as macros %}<!doctype html>
<html lang="en" class="no-js">

{% if page %}
  {% set content = page %}
{% elif section %}
  {% set content = section %}
{% endif %}

{% if content %}
  {% set title = content.title %}
{% elif terms %}
  {% set title = "Blog Post Series" %}
{% elif term %}
  {% set title = "Blog Post Series: " ~ term.name %}
{% else %}
  {% set title = "Page not found" %}
{% endif %}

{% if content and content.description %}
  {% set description = content.description %}
{% else %}
  {% set description = config.description %}
{% endif %}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">
    <meta name="twitter:site" content="@snoyberg">
    <meta name="twitter:creator" content="@snoyberg">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Michael Snoyman's homepage">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ description }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1434510-21"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-1434510-21');
    </script>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/site.css">

    {% block pagehead %}{% endblock %}

    <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
    <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/d26546d2-46db-4099-83ca-e1eccfa0dd8d">
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Michael Snoyman's blog">

    {{ macros::favicons() }}
  </head>
  <body>
    <a class="skip-link" href="#content">Skip to content</a>
    {{ macros::topnav() }}

    {% block hero %}
    <header class="page-hero">
      <div class="container">
        <h1>{{ title }}</h1>
        {% block subtitle %}{% endblock %}
      </div>
    </header>
    {% endblock hero %}

    <main id="content" class="page-content">
      <div class="container">
        {% block content %}
          {% if content %}
            {{ content.content | safe }}
          {% endif %}
        {% endblock content %}
      </div>
    </main>

    {{ macros::bodyend() }}
  </body>
</html>
