{% import "macros.html" as macros %}<!doctype html>
<html lang="en" class="no-js">

{% if page %}
    {% set content = page %}
{% elif section %}
    {% set content = section %}
{% endif %}

{% if content %}
  {% set title = content.title %}
{% elif terms %}
  {% set title = "Blog Post Series" %}
{% elif term %}
  {% set title = "Blog Post Series: " ~ term.name %}
{% else %}
  {% set title = "Page not found" %}
{% endif %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <title>{{ title }}</title>

    <meta name="twitter:site" content="@snoyberg">
    <meta name="twitter:creator" content="@snoyberg">
    <meta property="og:site_name" content="Michael Snoyman's homepage">
    <meta property="og:title" content="{{ title }}">
    {% block ogtype %}<meta property="og:type" content="website">{% endblock ogtype %}
    <meta property="og:url" content="{{ current_url | default(value=config.base_url) }}">
    {% set description = config.description %}
    {% if content and content.description %}{% set description = content.description %}{% endif %}
    <meta name="description" content="{{ description }}">
    {% block socialmeta %}
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ get_url(path="thumbs/default-v2.jpg") }}">
    <meta property="og:image:alt" content="Michael Snoyman">
    <meta name="twitter:card" content="summary_large_image">
    {% endblock socialmeta %}
    <link rel="canonical" href="{{ current_url | default(value=config.base_url) }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ get_url(path="maxi/vendors/font-awesome/css/fontawesome-all.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="maxi/css/styles.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="static/site.css") }}">

    {% block pagehead %}
    {% endblock %}

    <link href="{{ get_url(path="rss.xml") }}" type="application/rss+xml" rel="alternate" title="Michael Snoyman's blog">

    {{ macros::favicons() }}
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    <header class="inner-page">
      {{ macros::topnav() }}

      <section class="wt-section bg-gray text-center inner-page-header" style="padding-top:100px">
        <div class="container">
          <div class="row justify-content-md-center align-items-center text-white py-lg-5">
            <div class="col-md-7">
              <div class="text-center">
                <h1 class="display-sm-4 display-lg-3">{{ title }}</h1>
                {% block subtitle %}
                {% endblock subtitle %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>

    <main id="main-content">
      <section class="wt-section">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-10 mx-auto content-column">
              {% block content %}
                {{ content.content | safe }}
              {% endblock content %}
            </div>
          </div>
        </div>
      </section>
    </main>

    {{ macros::bodyend() }}

  </body>
</html>
