{% extends "index.html" %}

{% block content %}

{{ section.content | safe }}

{% for page in section.pages %}   
  <article class="card blog-card mb-4">
    {% if page.extra.ogimage %}
      {% set image = get_url(path="thumbs/" ~ page.extra.ogimage) %}
    {% else %}
      {% set image = get_url(path="thumbs/default-v2.jpg") %}
    {% endif %}
    <div class="blog-image-title">
      <a href="{{ page.permalink | safe }}">
        <img src="{{ image | safe }}" alt="{{ page.title }}">
      </a>
      <div>
        <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
        {% if page.description %}
          <p class="description">{{ page.description }}</p>
        {% endif %}
      </div>
    </div>
  </article>
{% endfor %}

{% endblock content %}
