{% extends "index.html" %}

{% block subtitle %}
<p class="page-meta">Updated {{ page.extra.date }}</p>
{% endblock subtitle %}

{% block content %}
<section class="content-block shekel">
  <p id="rateinfo">
    On {{ page.extra.date }}, $1 (United States Dollar) buys:
    <span class="rate">{{ page.extra.rate }} ₪</span>
    <span class="delta">{{ page.extra.delta }}</span>
  </p>

  <p>You can see more currencies versus the shekel and graphs on <a href="http://www.boi.org.il/en/markets/exchangerates/pages/default.aspx">the Bank of Israel website</a>.</p>

  <form class="subscribe-form" action="https://blogtrottr.com" method="post" target="_blank">
    <label>Get updated rates via email</label>
    <input type="email" name="btr_email" placeholder="Email address" required>
    <input type="hidden" value="https://www.snoyman.com/shekel/feed" name="btr_url">
    <input type="hidden" name="schedule_type" value="0">
    <button class="btn btn-primary" type="submit">Subscribe</button>
  </form>

  <p>
    <a href="https://feeds.feedburner.com/DollarVersusShekel" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">
      <img src="https://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" width="16" height="16">
    </a>
    <a href="https://feeds.feedburner.com/DollarVersusShekel" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">
      Subscribe in a reader
    </a>
  </p>
</section>
{% endblock content %}
